/*typography*/

/*For : Headings, Call-to-actions, Header Navigation*/
/*weights : 400, 700*/
/*font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/*For : Body*/
/*weights : 400, 700*/
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* end of typography*/

:root {
    /*color scheme*/
        /*Primary color*/
            /*intro and email sign up background*/
            --dark-blue-various-1:hsl(217, 28%, 15%);
            /*main background*/
            --dark-blue-main-1:hsl(217, 28%, 15%);
            /*footer background*/
            --dark-blue-footer-1:hsl(216, 53%, 9%);
            /*testimonials background*/
            --dark-blue-testimonials-1:hsl(219, 30%, 18%);
        /*Accent color*/
            /*inside call-to-action gradient*/
            --cyan:hsl(176, 68%, 64%);
            --blue:hsl(198, 60%, 50%);
        /*Netural color*/
            --white:hsl(0, 0%, 100%);
    /*End of color scheme*/
}


/*default styles / resets*/

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    line-height:1.4;
    font-size:14px;
}

body {
    padding:0;
    margin:0;
    background-color:darkblue;
    background-color:var(--dark-blue-main-1);

    color:#fff;
    color:var(--white);
}


h1,h2,h3,
h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
}

img {
    display:block;
    max-width:100%;
}

ul { list-style:none; }
    
a { color:currentColor; }
    



/*start of website styling*/



/*start of navbar*/

/*end of navbar*/